 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.containerNav {
  height: 120px;
  text-align: center;
  background-color: white;
  margin-bottom: 10px;
}

.linksNav {
  border: red solid 2px;
}

.navButton {
  padding: 20px;
}

#root {
  background-color: rgb(206, 2, 2);
}
